@import "../../styles/variables.scss";

.section {
  background-color: pink;
  border: solid black;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 0px 10px 0px;

  & ul {
    list-style-type: none;
    padding-left: 0;
  }

  & li {
    padding-bottom: 8px;
  }

  & p,
  h2 {
    padding-top: 20px;
  }

  button {
    float: right;
  }
}
