@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background-color: $primaryWhite;
  color: $primaryDark;
  font-size: $fontSize;
  font-family: $firaSans;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 18px;
}

h1 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

h2 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

h3 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

h4 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

h5 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

h6 {
  font-size: $headerFontSize;
  font-weight: bolder;
  color: $primaryDark;
}

a {
  text-decoration-color: $primaryRed;
  color: $primaryRed;
  font-size: $linkFontSize;
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration-color: $primaryRed;
  color: $primaryRed;
  font-size: $linkFontSize;
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

a:focus {
  outline: $outline;
  color: $primaryRed;
}
