@import "../../styles/variables.scss";

footer {
  margin-top: 1rem;
  background-color: $primaryRed;
  bottom: 0;
  left: 0;
  width: 100%;

  @media screen and (max-width: 800px) {
    padding-bottom: 20px;
  }
}

.grid {
  display: grid;
  padding: 18px;
  grid-template-columns: 1fr;
  grid-template-areas: "sitemap" "designDevelop" "sponsors";

  & h3 {
    padding-bottom: 20px;

    @media screen and (max-width: 800px) {
      padding-bottom: 10px;
    }
  }

  &__sitemap {
    grid-area: sitemap;

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    & ul li {
      padding-right: 80px;
      display: inline-block;

      & a {
        @media screen and (max-width: 800px) {
          font-size: 1.5rem;
        }
      }

      @media screen and (max-width: 800px) {
        display: flex;
        padding-bottom: 10px;
      }
    }
  }

  &__designDevelop {
    grid-area: designDevelop;

    & p {
      @media screen and (max-width: 800px) {
        font-size: 2rem;
      }
    }
  }

  &__sponsors {
    grid-area: sponsors;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 1rem;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  &__goth {
    place-self: center;

    &__img {
      height: auto;
      width: 250px;

      @media screen and (max-width: 800px) {
        height: auto;
        width: 380px;
        padding-top: 30px;
      }
    }
  }

  &__gu {
    place-self: center;

    &__img {
      height: auto;
      width: 330px;

      @media screen and (max-width: 800px) {
        height: auto;
        width: 430px;
      }
    }
  }

  &__ager {
    place-self: center;

    &__img {
      height: auto;
      width: 350px;

      @media screen and (max-width: 800px) {
        height: auto;
        width: 460px;
      }
    }
  }

  &__itu {
    place-self: center;

    &__img {
      height: auto;
      width: 275px;

      @media screen and (max-width: 800px) {
        height: auto;
        width: 350px;
        padding-top: 30px;
      }
    }
  }
}
